@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

.slick-next {
    right: 16px;
    z-index: 10;
}

.slick-prev {
    left: -40px;
    z-index: 10;
}

.slick-next::before {
    font-size: 24px;
}

.slick-prev::before {
    font-size: 24px;
}

.slick-dots {
    bottom: 25px;
}

.slick-dots li.slick-active button::before {
    color: #fff
}

.slick-dots li button::before {
    font-size: 7px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}